html,body{
  height: 100%;
  width: 100%;
}

body{

  font: $mainFont;
  color: $typeDefault;
}

h1,h2,h3,h4{
  color: $headColor;
  font-family: $fontOpenSans;
  font-weight: $normal;
  margin-bottom: 0;
}
strong {
  font-weight: $bold;
}
ul{
  list-style-type: none;
  margin: 0;
}
p {
  font-weight: $normal;
  padding-bottom: 10px;
}

#container{
  background-color: $backgroundColor;
  padding: 0;
}

.container{
  margin-top: 70px;
  margin-bottom: 50px;
}
.font-x{
  font-size: $fontX;
}
.font-xx{
  font-size: $font1X;
}
.font-xxx{
  font-size: $font2X;
}
.font-xxxx{
  font-size: $font3X;
}
